html, body {
    margin: 0;
    padding: 0;
    font-size: 12px;
}

header {
    padding: 1em;
    background-color: #c55;
    border-bottom: 5px solid #700;
    height:10%
}

header h1 {
    margin: 0;
    color: #700;
}

header h1 a {
    color: #700;
    text-decoration: none;
}

section {
    padding: 0;
    overflow: auto;
    display: table;
}

section .row {
    display: table-row;
}

a.button {
    display: inline-block;
    padding: 0.25em;
    margin-right: 1em;
    margin-top: 2em;
    border: 1px solid #ccc;
    color: #000;
    text-decoration: none;
    border-radius: 5px;
    background-color: #fff;
}

a.checkout {
    background-color: #0f0;
    background: -webkit-gradient(linear, 0% 0% 0% 100%, from(#0a0), to(#0f0));
    background: -webkit-linear-gradient(top, #0a0, #0f0);
    background: -moz-linear-gradient(top, #0a0, #0f0);
}
a.checkout:hover, a.checkout:active {
    background-color: #0a0;
    background: -webkit-gradient(linear, 0% 0% 0% 100%, from(#0f0), to(#0a0));
    background: -webkit-linear-gradient(top, #0f0, #0a0);
    background: -moz-linear-gradient(top, #0f0, #0a0);
    border: 1px solid #aaa;
}

a.clear {
    background-color: #f00;
    background: -webkit-gradient(linear, 0% 0% 0% 100%, from(#a00), to(#f00));
    background: -webkit-linear-gradient(top, #a00, #f00);
    background: -moz-linear-gradient(top, #a00, #f00);
}
a.clear:hover, a.clear:active {
    background-color: #a00;
    background: -webkit-gradient(linear, 0% 0% 0% 100%, from(#f00), to(#a00));
    background: -webkit-linear-gradient(top, #f00, #a00);
    background: -moz-linear-gradient(top, #f00, #a00);
    border: 1px solid #aaa;
}

#cart {
    display: table-cell;
    width: 40%;
    background-color: #ffc;
    margin: 0;
    padding: 1em 1em 2em 1em;
}

#cart table {
    border: 0;
}

#cart table thead th {
    border-bottom: 1px solid #ccc;
}

#cart table td {
    border: 0;
}

#cart table th {
    background-color: transparent;
}

#cart table .total td {
    border-top: 2px solid #000;
}

#menu {
    display: table-cell;
    width: 60%;
    padding: 1em 1em 2em 1em;
}

#menu p {
    font-style: italic;
    font-size: 0.9em;
}

#tabs ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#tabs ul li {
    display: inline-block;
    border: 1px solid #ccc;
    margin-right: 0.25em;
    background-color: #55a;
}

#tabs ul li.active {
    background-color: #c55;
}

#tabs ul li a {
    padding: 0.25em;
    text-decoration: none;
    color: #fff;
    display: block;
}

#tabs .tab {
    display: none;
}

#tabs .tab.active {
    display: block;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
}

table th {
    background-color: #ccc;
    text-align: left;
}

table td, table th {
    vertical-align: top;
    padding: 0.25em;
    border-bottom: 1px solid #ccc;
}

#menu table tr:nth-child(even) {
    background-color: #efefef;
}

table th.quantity {
    width: 3em;
}

form input[type=text], form input[type=password] {
    width: 2.5em;
    font-size: 1em;
    border: 1px solid #ccc;
}

form label {
    display: inline-block;
    width: 10em;
}

form#checkout {
    margin-top: 2em;
}

#thank_you {
    padding: 1em;
    margin-bottom: 10em;
}

form#checkout input[type=text], form#checkout input[type=password] {
    width: 15em;
}

form .actions {
    margin-top: 1em;
}

footer {
    margin: 0;
    padding: 1em;
    border-top: 5px solid #aaa;
    background-color: #efefef;
    color: #888;
}

footer .name {
    font-weight: bold;
}

